@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  position: relative;
  width: 100%;
  height: 5097px;
}

/*Саша*/
header {
  position: relative;
}

header .navbar {
  position: relative;
  max-width: 100%;
  height: 50px;
  background-color: #FFFF;
}

header .navbar .navbar__container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .navbar .navbar__container .navbar__title {
  font-family: Lato;
  font-weight: 900;
  font-size: 24px;
}

header .navbar .navbar__container .navbar__title::after {
  content: "";
  background-image: url("../img/Vectorlogo.png");
  display: inline-block;
  width: 21px;
  height: 20px;
  background-color: #FFFF;
}

header .navbar .navbar__container .navbar__navigation li {
  margin-left: 16px;
  font-family: Lato;
  font-weight: 650;
  font-size: 18px;
  display: inline-block;
}

header .navbar .navbar__container .navbar__navigation li:hover {
  color: #ff3f3a;
}

header .navbar .navbar__container .navbar__button {
  position: relative;
  margin-top: -5px;
  font-family: Lato;
  font-weight: 650;
  font-size: 18px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  color: white;
}

header .navbar .navbar__container .navbar__link {
  text-decoration: none;
  font-family: Lato;
  font-weight: 650;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1E212C;
}

header .intro {
  height: 750px;
  background-image: url("../img/background.png");
}

header .intro .intro__container {
  position: relative;
}

header .intro .intro__container .intro__alltext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .intro .intro__container .intro__alltext .intro__noimg .intro__button-about {
  position: relative;
  margin-top: 45px;
  margin-left: 55px;
  height: 52px;
  width: 148px;
  font-family: Lato;
  font-style: normal;
  font-weight: 650;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  border-color: #FF3F3A;
  color: #FF3F3A;
}

header .intro .intro__container .intro__alltext .intro__noimg .intro__button-courses {
  position: relative;
  margin-top: 45px;
  margin-left: 85px;
  height: 52px;
  width: 200px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  border-color: #FF3F3A;
  font-family: Lato;
  font-style: normal;
  font-weight: 650;
  font-size: 18px;
  color: #FFFF;
}

header .intro .intro__container .intro__alltext .intro__noimg .intro__title {
  margin-top: 55px;
  margin-left: 55px;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1E212C;
}

header .intro .intro__container .intro__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
}

header .intro .intro__container .intro__nav .intro__information {
  position: relative;
  left: 300px;
  top: 75px;
}

header .intro .intro__container .intro__nav .intro__information .intro-li {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #1E212C;
  display: inline-block;
  position: relative;
  left: 155px;
}

header .intro .intro__container .intro__nav .intro__information .intro-li .intro-number {
  font-weight: 900;
}

header .intro .intro__container .intro__nav .intro__information .intro-li-end {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #1E212C;
  display: inline-block;
  position: relative;
  left: 155px;
}

header .intro .intro__container .intro__nav .intro__information .intro-li-end .intro-number {
  font-weight: 900;
}

header .intro .intro__container .intro__nav .intro__information .intro-li::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 7.5px;
  background-color: #ff3f3a;
  position: relative;
  margin-left: 55px;
  margin-right: 55px;
}

header .intro__image-main {
  position: relativee;
  width: 602px;
  height: 551px;
  margin-left: 255px;
  margin-top: 55px;
}

main {
  position: relative;
  top: 300px;
}

main .button {
  width: 161px;
  height: 44px;
  border: 1px solid rgba(255, 255, 255, 0);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
}

main .button a {
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 44px;
  color: #FFFFFF;
}

main .title {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}

main .text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: black;
}

main .about {
  position: relative;
}

main .about .container__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .about .container__about .body__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .about .container__about .about-colummn {
  margin-left: 100px;
}

main .about .container__about .about-colummn .subtitle__about {
  font-size: 16px;
}

main .about .container__about .about-colummn .list {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
}

main .about .container__about .about-colummn .list span {
  margin-left: 35px;
}

main .about .container__about .about-colummn .list li {
  margin-top: 12px;
}

main .about .container__about .about-colummn .list li::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../img/about-icons.png");
  display: inline-block;
  position: relative;
  margin-right: 20px;
}

main .about .container__about .about-colummn .button-about {
  margin-top: 100px;
}

main .about__benefits {
  position: relative;
  top: 132px;
}

main .about__benefits .body__benefits {
  max-width: 1230px;
}

main .about__benefits .container__benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .about__benefits .container__benefits .benefits__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

main .about__benefits .container__benefits .benefits__header .benefits__subtitle {
  font-size: 16px;
  text-transform: uppercase;
}

main .about__benefits .container__benefits .benefits__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 200px;
}

main .about__benefits .container__benefits .benefits__footer .title__text {
  font-size: 32px;
  line-height: 130%;
}

main .about__benefits .container__benefits .benefits__footer .text {
  margin-top: 24px;
}

main .about__benefits .container__benefits .benefits__footer .benefits__img {
  margin-left: 135px;
}

main .rewards {
  position: relative;
  top: 411px;
}

main .rewards .rewards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .rewards .rewards__container .rewards__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .rewards .rewards__container .rewards__subtitle {
  font-size: 16px;
  text-transform: uppercase;
}

main .rewards .rewards__container .text {
  margin-top: 48px;
}

main .rewards .rewards__container .icons {
  margin-top: 48px;
}

main .rewards .rewards__container .certificate {
  position: relative;
  left: 180px;
}

footer .workers {
  background-color: #DCDCDC;
  margin-top: 980px;
  height: 1117px;
  position: relative;
}

footer .workers .workers__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .about {
  position: relative;
  margin: auto;
  top: 680px;
  right: 250px;
  font-size: 18px;
  font-family: Lato;
}

footer .lol {
  font-family: Lato;
  font-size: 60px;
  top: 340px;
  position: relative;
  left: 230px;
}

footer .info {
  width: 100%;
  height: 396px;
  background-color: #1E212C;
}

footer .create {
  margin-top: 13px;
  margin-left: 150px;
}

footer .text {
  font-family: Lato;
  color: honeydew;
  position: relative;
  margin-left: 180px;
  top: 200px;
}

footer .table {
  color: honeydew;
  margin-left: 400px;
  font-family: Lato;
}
