@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
	position:relative;
	width:100%;
	height: 5097px;
}
/*Саша*/
header{
	position: relative;
	.navbar {
		position: relative;
		max-width: 100%;
		height: 50px;
		background-color: #FFFF;
		.navbar__container{
			margin-top:30px;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			.navbar__title{
				font-family: Lato;
				font-weight:900;
				font-size: 24px;
			}
			.navbar__title::after{
				content: "";
				background-image: url('../img/Vectorlogo.png');
				display: inline-block;
				width: 21px;
				height:20px;
				background-color: #FFFF;
			}
			.navbar__navigation li{
				margin-left: 16px;
				font-family: Lato;
				font-weight:650;
				font-size: 18px;
				display: inline-block;
			}
			.navbar__navigation li:hover{
				color: rgba(255, 63, 58, 1);
			}
			.navbar__button{
				position: relative;
				margin-top:-5px;
				font-family: Lato;
				font-weight:650;
				font-size: 18px;
				background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
				border-radius: 4px;
				border: 1px solid rgba(0,0,0,0);
				color: white;
			}
			.navbar__link{
				text-decoration: none;
				font-family: Lato;
				font-weight:650;
				font-size:18px;
				align-items: center;
				color: #1E212C;
			}
		}
	}
	.intro {
		height:750px;
		background-image: url('../img/background.png');
		.intro__container{
			position: relative;
			.intro__alltext{
				display: flex;
				justify-content: center;
				.intro__noimg{
					.intro__button-about{
						position:relative;
						margin-top: 45px;
						margin-left:55px;
						height: 52px;
						width: 148px;
						font-family: Lato;
						font-style: normal;
						font-weight: 650;
						font-size: 18px;
						background-color: rgba(0, 0, 0, 0);
						border-radius: 4px;
						border-color: #FF3F3A;
						color: #FF3F3A;
					}
					.intro__button-courses{
						position:relative;
						margin-top: 45px;
						margin-left:85px;
						height: 52px;
						width: 200px;
						background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
						border-radius: 4px;
						border-color: #FF3F3A;
						font-family: Lato;
						font-style: normal;
						font-weight: 650;
						font-size: 18px;
						color: #FFFF;
					}
					.intro__title{
						margin-top: 55px;
						margin-left: 55px;
						font-family: Lato;
						font-style: normal;
						font-weight: 900;
						font-size: 64px;
						align-items: center;
						color: #1E212C;
					}
				}
			}
			.intro__nav{
				display: flex;
				flex-direction: row;
				align-items: center;
				padding: 0px;
				.intro__information{
					position: relative;
					left: 300px;
					top: 75px;
					.intro-li{
						font-family: Lato;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 160%;
						color: #1E212C;
						display: inline-block;
						position: relative;
						left: 155px;
						.intro-number{
							font-weight: 900;
						}
					}
					.intro-li-end{
						font-family: Lato;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 160%;
						color: #1E212C;
						display: inline-block;
						position: relative;
						left: 155px;
						.intro-number{
							font-weight: 900;
						}
					}
					.intro-li::after{
						content:'';
						display: inline-block;
						width: 12px;
						height: 12px;
						border-radius: 7.5px;
						background-color:rgba(255, 63, 58, 1);
						position: relative;
						margin-left: 55px;
						margin-right: 55px;
					}
				}
			}
		}
	}
	.intro__image-main{
		position: relativee;
		width: 602px;
		height: 551px;
		margin-left:255px;
		margin-top: 55px;
	}
}
main{
	position: relative;
	top: 300px;
	.button{
		width: 161px;
		height: 44px;
		border: 1px solid rgba(255, 255, 255, 0);
		background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
		border-radius: 4px;
		a{
			text-decoration: none;
			font-family: Lato;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 44px;
			color: #FFFFFF;
		}
	}
	.title{
		font-family: Lato;
		font-style: normal;
		font-weight: 900;
		font-size: 46px;
		line-height: 130%;
	}
	.text{
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 160%;
		color: black;
	}
	.about{
		position: relative;
		.container__about{
			display: flex;
			justify-content:center;
			.body__about{
				display: flex;
				flex-direction: row;
			}
			.about-colummn{
				margin-left: 100px;
				.subtitle__about{
					font-size: 16px;
				}
				.list{
					font-family: Lato;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 160%;
					span{
						margin-left: 35px;
					}
					li{
						margin-top:12px;
					}
					li::before{
						content: "";
						width: 16px;
						height: 16px;
						background-image: url('../img/about-icons.png');
						display: inline-block;
						position: relative;
						margin-right: 20px;
					}
				}
				.button-about{
					margin-top: 100px;
				}
			}
		}
	}
	.about__benefits{
		position: relative;
		top: 132px;
		.body__benefits{
			max-width: 1230px;
		}
		.container__benefits{
			display: flex;
			justify-content: center;
			.benefits__header{
				display: flex;
				flex-direction: column;
				text-align: center;
				.benefits__subtitle{
					font-size: 16px;
					text-transform: uppercase;
				}
			}
			.benefits__footer{
				display: flex;
				flex-direction: row;
				margin-top: 200px;
				.title__text{
					font-size: 32px;
					line-height: 130%;
				}
				.text{
					margin-top: 24px;
				}
				.benefits__img{
					margin-left: 135px;
				}
			}
		}
	}
	.rewards{
		position: relative;
		top: 411px;
		.rewards__container{
			display: flex;
			flex-direction: row;
			justify-content:center;
			.rewards__body{
				display: flex;
				flex-direction: row;
			}
			.rewards__subtitle{
				font-size: 16px;
				text-transform: uppercase;
			}
			.text{
				margin-top: 48px;
			}
			.icons{
				margin-top: 48px;
			}
			.certificate{
				position: relative;
				left: 180px;
			}
		}
	}
}
footer{
	.workers{
		background-color:  #DCDCDC;
		margin-top: 980px;
		height: 1117px;
		position: relative;
		.workers__column{
			display: flex;
		}
	}
	.about{
		position: relative;
		margin: auto;
		top: 680px;
		right: 250px;
		font-size: 18px;
		font-family: Lato;
	}
	.lol{
		font-family: Lato;
		font-size: 60px;
		top: 340px;
		position: relative;
		left: 230px;
	}
	.info{
		width: 100%;
		height: 396px;
		background-color: #1E212C;
	}
	.create{
		margin-top: 13px;
		margin-left: 150px;
	}
	.text{
		font-family: Lato;
		color: honeydew;
		position: relative;
		margin-left: 180px;
		top: 200px;
	}
	.table{
		color: honeydew;
		margin-left: 400px;
		font-family: Lato;
	}
}
